@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="row">
    <div class="col-md-12">
        <h1 class="center-block text-left text-danger">School Alerts and Announcements</h1>
        <h4>Create a Parent Account <a href="">here</a> to access E-mail and SMS Alerts.</h4>
        <br />
        <div class="row">
            <div class="col-md-6">
                <article>
                    <p class="modal-content">
                        <h3 class="modal-title">P.S. 80's new website!</h3>
                        The new website is here and it's coming with a ton of new features, including a 
                        calendar that can be used to keep teachers and students
                        <h4 class="modal-footer text-right">Date: </h4>
                    </p>
                </article>
            </div>
            <div class="col-md-6">
                <article>
                    <p class="modal-content">
                        <h3 class="modal-title">Title</h3>
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        <h4 class="modal-footer text-right">Date: </h4>
                    </p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article>
                    <p class="modal-content">
                        <h3 class="modal-title">Title</h3>
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        <h4 class="modal-footer text-right">Date: </h4>
                    </p>
                </article>
            </div>
            <div class="col-md-6">
                <article>
                    <p class="modal-content">
                        <h3 class="modal-title">Title</h3>
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        Passage Passage Passage Passage Passage Passage
                        <h4 class="modal-footer text-right">Date: </h4>
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>

}
