@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Calendar</h2>
<div id='calendar'class="glyphicon-calendar">
    
</div>