@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    171-05 137TH AVENUE<br />
    JAMAICA, NY 11434<br />
    <abbr title="Phone">P:</abbr>
    718.528.7070
</address>


<address>
    <strong>Support:</strong> <a href="mailto:JEfthimi@NYIT.edu">JEfthimi@NYIT.edu</a><br />
</address>
