@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Main_Slide1.png" alt="ASP.NET" class="img-responsive"/>
            <div class="carousel-caption">
                <p>
                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Main_Slide2.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>

                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Main_Slide1.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Main_Slide2.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="col-md-12 modal-header">
    <h3 class="text-success">Our Mission</h3>
    <big><p>The mission of the Thurgood Marshall Magnet School of Multimedia and Communication is to develop and to
    enhance the individual talents that all children possess. Through a literary connection, we will emphasize Science, 
    Technology, Engineering and Math with viable careers for the 21st Century. Our barrier free environment allows for 
        the inclusion of all students, maximizing their opportunities to reach their fullest potential. We will achieve 
        the national standards for Enlgish Language Arts, the school will infuse the standards throughout the curriculum 
        to help bring all of our students to high levels of performance.</p></big>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <article>
                <h2 class="modal-header text-success text-center">Latest News</h2>
                <p><big>
                        Here at P.S. 80 we teach our students to use teamwork and leadership skills to transform
                        their future! We also offer plenty of school activities, such as: <br /> <br />
                        <ul class="list-group-item-text">
                            <li>Learning Centers</li>
                            <li>After School activities</li>
                            <li>STEM classroom learning</li>
                            <li>A warm-hearted environment</li>
                        </ul>
                    </big>
                </p>
            </article>
        </div>
        <div class="col-md-4">
            <big>
                <article class="text-center">
                    <h2 class="text-success modal-header">Welcome!</h2>
                    <p class="body-content" style="font-size: 20px;">
                        <h4 class="modal-title text-info"><bold>School Location</bold>&nbsp;</h4>
                        <address class="text-center">
                            171-05 137TH AVENUE<br />
                            JAMAICA, NY 11434<br />
                            <abbr title="Phone">P:</abbr>
                            718.528.7070
                        </address>

                        <ul class="list-unstyled">
                            <li><bold>Grades: </bold>PK, 0K, 01, 02, 03, 04, 05, SE</li>
                            <li><bold>Students Enrolled: </bold>552 Students</li>
                            <li><bold>Pre-K Sessions: </bold>Full Day</li>
                        </ul>

                    </p>
                </article>
            </big>
        </div>
        <div class="col-md-4">
            <big>
                <article>
                    <h2 class="text-success modal-header text-center">School Programs</h2>
                    <p class="body-content" style="font-size: 20px;">
                        <h4 class="modal-title glyphicon-align-center">The website can be used for and not limited to..</h4>
                        <ul class="glyphicon-list-alt">
                            <li>School News</li>
                            <li>Calendar</li>
                            <li>Directions</li>
                            <li>Teacher Portal</li>
                            <li>Parent Portal</li>
                            <li>+ more!</li>
                        </ul>
                    </p>
                </article>
            </big>
        </div>
    </div>
</div>
