@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-12">
    <div class="col-md-3">
        <h3>Pre-Kindergarten</h3>
        <ul>
            <li>PK1: <a href="">Ms. Scharlop</a></li>
            <li>PK2: <a href="">Ms. Cespedes</a></li>
            <li>PK3: <a href="">Ms. Manigault-Mann</a></li>
            <li>PK4: <a href="">Ms. Caccamo</a></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <h3>Kindergarten</h3>
        <ul>
            <li>K1: <a href="">Ms. Finz</a></li>
            <li>K2: <a href="">Ms. Ramkishun</a></li>
            <li>K31: <a href="">Ms. Tyson-Moore</a></li>
            <li>K31: <a href="">Ms. Austein</a></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <h3>1st Grade</h3>
        <ul>
            <li>101: <a href="">Ms. Fitter</a></li>
            <li>102: <a href="">Ms. Princival</a></li>
            <li>103: <a href="">Ms. Fischer</a></li>
            <li>191: <a href="">Ms. Bondy</a></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <h3>2nd Grade</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <h3>3rd Grade</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <h3>4th Grade</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <h3>5th Grade</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>